


<!-- <section id="footer" class="container-fluid colored">

  <p>copyright 2020</p>
  <a href="https://www.instagram.com/a_sabeeds/?hl=en" class="icon-text"><img src="icons/instagram.svg" class="icons" alt="insta-icon">@a_sabeeds</a>
  <a href="#" class="icon-text"><img src="icons/twitter.svg" class="icons" alt="insta-icon">Twitter</a>
  <a href="#" class="icon-text"><img src="icons/linkedin.svg" class="icons" alt="insta-icon">LinkedIn</a>


</section> -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src='http://code.jquery.com/ui/1.10.3/jquery-ui.js'></script>
<script src="/js/script.js"></script>
  </body>
</html>
