<%- include("partials/header"); %>

	<!-- title section -->

	<section id="navbar" class="sticky-top">
		<nav class="navbar navbar-expand-lg navbar-light">
			<a class="navbar-text brand-text" href="#title">PPRKI</a>
		</nav>
	</section>

	<div class="spacer"></div>
	<div class="gallery-container">

		<% images.forEach(function(image) { %>

			<div class="gallery-box">
				<img class="gallery-img" src="/images/<%= image.image %>">

			</div>

			<%  }); %>

			</div>

			<div class="videoBox-gallery">
				<!-- <video id="hero" loop="loop" muted="muted" src="/videos/Clouds3reduced.mov" autoplay="autoplay" poster="posterimage.jpg"></video> -->
				<!-- <iframe class="fullscreen" loop muted autoplay src="https://player.vimeo.com/video/422059873" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen autoplay poster="posterimage.jpg"></iframe> -->
				<!-- <p><a href="https://vimeo.com/422059873">Clouds2</a> from <a href="https://vimeo.com/user81480248">Louis Garavaglia</a> on <a href="https://vimeo.com">Vimeo</a>.</p> -->
			</div>


			<!-- footer section -->
			<%- include("partials/footer"); %>
