<%- include("partials/header"); %>

<!-- title section -->

<div class="outer-wrapper">
  <div class="wrapper">
    <div class="slide one"></div>
    <div class="slide two"></div>

  </div>

</div>



<!-- footer section -->
<%- include("partials/footer"); %>
