/* Universal selector to make sure uniformity across all browsers */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  /* prevents the whitespace bounce at top and bottom when you scroll */
  overscroll-behavior: none;
  transition: all 0.2s ease-in-out;
}

/* NAVBAR */

.navbar {
  position: fixed;
  margin: 0 auto;
}

.navbar ul {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-text {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  font-style: normal;
  color: #fff;
  flex: auto;
  flex-direction: row;
  justify-content: flex-start;
}
.navbar-text:hover {
  text-decoration: none;
}

.pprki {
  flex: 1;
}

.gallery-link {
  flex: 1;
}

/* SLIDER WRAPPERS */

.outer-wrapper {
  position: absolute;
  z-index: 1;
  overflow-x: scroll;
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  scrollbar-width: none;
  -ms-overflow-style: none;
  /* the two items below, scroll-snaps, are for getting the slides to snap to the edges */
  scroll-snap-type: y mandatory;
  /* scroll-snap-align: start; */
}

::-webkit-scrollbar {
  display: none;
}

.wrapper {
  position: absolute;
  /* top: 200px; */
  display: flex;
  align-items: center;
  flex: 1;
  flex-direction: row;
  justify-content: flex-start;
  /* width of wrapper needs to be equal to total width of all the content slides added up (so if 4 slides at 100%, width of wrapper needs to be 400) */
  width: 100vw;
  height: 100vh;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
}

.slide {
  /* position: relative; */
  display: flex;
  align-items: center;
  /* flex: 1; */
  justify-content: center;
  width: auto;
  height: 100vh;
  margin: 0;
  padding: 0;
  scroll-snap-align: center;
  opacity: 0.5;
}

/* CSS FOR IMAGES */
.imageFrame {
  width: 600px;
  max-width: 800px;
  height: auto;
  max-height: auto;
  /* margin-left: 100px;
  margin-right: 100px; */
  padding-right: 140px;
  padding-left: 140px;
  /* border-width: 50px;
  border-style: solid;
  border-color: white;
  border-image: 3px solid; */
}

/* .slide[data-background="#aecacd"] {
  opacity: 1;
} */

.arrow {
  opacity: 1;
  width: 100px;
  max-width: 100px;
  height: auto;
  max-height: auto;
  margin-left: 100px;
  margin-right: 200px;
  cursor: pointer;
  scroll-snap: off;
}

.arrow:hover {
  filter: invert(100%);
}

/* CSS FOR GALLERY */
.spacer {
  padding-bottom: 60px;
}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 150px);
  grid-gap: 20px;
  justify-content: center;
  margin: 0 60px;
  scroll-behavior: smooth;
  /* flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 40px;
  margin-left: 40px; */
}

.gallery-img {
  max-width: 150px;
  min-wid: 100px;
  border-width: 10px;
  border-style: solid;
  border-color: white;
  border-image: 3px solid;
  /* flex: 1;
  margin: 40px;
  border-width: 10px;
  border-style: solid;
  border-color: white;
  border-image: 3px solid; */
}

.videoBox-gallery {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  transition: all 1s ease-in-out;
}

/* CSS FOR DATE */
.dateStyle {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.5rem;
  font-weight: 100;
  font-style: normal;
  position: absolute;
  top: 19.5px;
  left: 100px;
  color: white;
}

/* CSS FOR VIDEO background  */
/* .videoBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
} */

/* #hero {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
} */

/* .gradient {
  color: #fff;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400%;
  animation-name: change;
  animation-duration: 2s;
  animation-timing-function: step-start;
  animation-iteration-count: infinite;
} */

/* CSS FOR COMPOSE Page */
.videosBox {
  display: flex;
}

.videosContainer {
  flex: 1;
  padding: 0 20px;
}

.deleteContainer {
  flex: 1;
  padding: 0 20px;
}
