/* NAVBAR */

#nav-bar {
  position: absolute;
  grid-area: nav-bar;
  /* opacity: 0.95; */
  /* background-color: white; */
  /* margin: 0px;
  padding: 0px; */
}

.navbar-brand {
  /* color: #fff; */
}

/* BODY */

body {
  /* prevents the whitespace bounce at top and bottom when you scroll */
  overscroll-behavior: none;
  margin: 0px;
  padding: 0px;
}

* {
  box-sizing: border-box;
}

/* SLIDER WRAPPERS */

.outer-wrapper {
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-x: scroll;
  overflow-x: hidden;
  position: absolute;
  scrollbar-width: none;
  -ms-overflow-style: none;
  /* the two items below, scroll-snaps, are for getting the slides to snap to the edges */
  scroll-snap-type: y mandatory;
  scroll-snap-align: start;
  z-index: 1;
}

::-webkit-scrollbar {
  display: none;
}

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
  justify-content: center;
  /* width of wrapper needs to be equal to total width of all the content slides added up (so if 4 slides at 100%, width of wrapper needs to be 400) */
  width: 400vw;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
}

.slide {
  width: 100vw;
  height: 100vh;
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 0;
  padding: 0;
  /* background: rgb(
    204,
    204,
    204
  ); /* Fallback for older browsers without RGBA-support */ */
  background: rgba(204, 204, 204, 0);
  scroll-snap-align: start;
  /* margin-top: 1%;
  padding-top: 1%; */
  /* z-index: 99; */
  /* position: absolute; */
  /* top: 2em;
  padding: 1em 1em;
  width: 100%; */
  /* color: blue; */
  /* font-size: 300%;
  height: 400%; */
}

/* .one {
  background: #efdefe;
  scroll-snap-align: start;
}

.two {
  background: #a3f3d3;
  scroll-snap-align: start;
}
.three {
  background: blue;
  scroll-snap-align: start;
}

.four {
  background: red;
  scroll-snap-align: start;
} */

/* CSS FOR IMAGES */

.imageFrame {
  height: auto;
  width: auto;
  max-width: 385px;
  max-height: 100%;
  border-image: 3px solid;
  border-color: white;
  border-style: solid;
  border-width: 50px;
}

/* CSS FOR VIDEO background  */

.videoBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#hero {
  position: fixed;
  min-width: 100%;
  min-height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  /* display: flex; */
  /* z-index: -1;
  width: 100%;
  height: 100%; */
  /* overflow-y: hidden;
  overflow-x: hidden; */
  /* top: 0;
  left: 0; */
}

/* .fullscreen {
  width: 200%;
  height: 200%;
  position: absolute;
  right: 10;


} */

/* CSS FOR COMPOSE Page */

.videosBox {
  display: flex;
}

.videosContainer {
  flex: 1;
  padding: 0 20px 0 20px;
}

.deleteContainer {
  flex: 1;
  padding: 0 20px 0 20px;
}
